[user]
	name = daviddempsey
	email = davidgdempsey@gmail.com
	signingkey = 167A6A8995957CBA5C99CE9A75EF6E0C7B26B292
[commit]
	gpgsign = true
[core]
	autocrlf = input
[init]
	templateDir = ~/.git-templates
